@page "/"
@using System.Resources
@using MediaevalFightForFood.Resources
@inject IGameService GameService

<h3>
    @_resourceRu.GetString("GameHeader") - @_resourceEn.GetString("GameHeader")
</h3>


<GameBoard/>

@code {
    private readonly ResourceManager _resourceRu = new(typeof(GameRu));
    private readonly ResourceManager _resourceEn = new(typeof(GameEn));
}