@using System.Resources
@using MediaevalFightForFood.Resources
@inherits LayoutComponentBase

<PageTitle>MediaevalFightForFood</PageTitle>

<div class="page">
    <!--<div class="sidebar">
        <NavMenu />
    </div>-->

    <main>
        <div class="top-row px-4">
            <a href="/game-description" target="_blank">
                @_resourceRu.GetString("Description") - @_resourceEn.GetString("Description")
            </a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code {
    private ResourceManager _resourceRu = new(typeof(GameRu));
    private ResourceManager _resourceEn = new(typeof(GameEn));
}